@import '../../../assets/common.less';
.editor-box{
  
    .editor-header{
        background: white;
        .header-public;
        padding: 0 50px;
        display: flex;
        .header-left{
            flex: 1;
            display: flex;
       
            .log{
                width: 80px;
                text-align:  center;
            }
          
            .title{
                line-height: 66px;
                height: 66px;
                font-size: 28px;
                flex: 1;
                border: none;
            }
        }
        .header-right{
            flex: 1;
            display: flex;
            justify-content: flex-end;
           
            font-size: 18px;
            white-space: nowrap;   
            .h-r-c{
               margin:0 10px;

             }
             .auto-save{
               color: #ddd;
                 .ant-btn{
                    // margin-left: 4px;
                    width: 50px;
                    padding: 0;
                    span{
                        color: #ddd;
                    }
                 }
 
             }
             .avatar{
                .ant-badge-count{
                    background: #25b864
                }
             }
       
        }
    }
    .editor-middle{
        display: flex;
        max-height: 100%;
        overflow: auto;
        margin: 20px 50px;
        .editor-left{
            flex:1;
            margin-right: 20px;

            .editor {
                .textarea {
                    padding: 20px;
                    width: 100%;
                    border: 0;
                  }
            }
            .text-box{
                overflow: auto;
                max-height: 420px;
                border: 1px solid black;
            }
        }
        .editor-right{
            flex:1;
            color: #444;
            font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
            font-size: 16px;
            line-height: 1.5em;
      
            .result{
                border: 1px solid gray;
                max-height: 420px;
                overflow: auto;
                padding: 24px;
            }
        }
  
    }
    .editor-footer{
        text-align: center;
        background: blanchedalmond;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }   
}