@import '../../../assets/common.less';
.editor-box{
  
    .editor-header{
        .header-public;
        padding: 0 50px;
        display: flex;
        .header-left{
            flex: 1;
            border-right:1px solid gray; 
            display: flex;
            .log{
                width: 80px;
            }
            label{
                font-size: 20px;
                width: 80px;
            }
            .title{
                line-height: 66px;
                height: 66px;
                background: #97f569;
                font-size: 28px;
                flex: 1;
            }
        }
        .header-right{
            flex: 1;
            display: flex;
                .h-r-children1{
                   flex: 2;
                }
                .h-r-children{
                    flex: 1;
                    text-align: right;
                }
        }
    }
    .editor-middle{
        display: flex;
        max-height: 100%;
        overflow: auto;
        margin: 20px 50px;
        .editor-left{
            flex:1;
            margin-right: 20px;
            .editor {
                textarea {
                    padding: 20px;
                    height: 420px;
                    width: 100%;
                  }
            }
        }
        .editor-right{
            flex:1;
            color: #444;
            font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
            font-size: 16px;
            line-height: 1.5em;
            overflow: auto; 
            .result{
                border: 1px solid gray;
                max-height: 420px;
                overflow: auto;
            }
        }
  
    }
    .editor-footer{
        text-align: center;
        background: blanchedalmond;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }   
}