
  .header-left{
    width: 15%;
    height: 31px;
    line-height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
  .header-right{
    width: 30%;
    height: 31px;
    line-height: 31px;
    margin: 16px 0 16px 0;
    float: right;
  }
  .ant-layout-content{
    margin: 80px 0 0;
    padding: 0 100px;
    .content-box{
      display: flex;
      .content-common{
        min-height: 500;
        background: white;
      }
      .content-main{
        flex: 1;
      }
      .content-right{
        margin-left: 20px; 
        width: 400px;
        .ant-card{
          margin-bottom: 20px;
        }
      }
    }
 
  }