
  .header-left{
    width: 15%;
    height: 31px;
    line-height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
  }
  .header-right{
    width: 30%;
    height: 31px;
    line-height: 31px;
    // background: rgba(255,255,255,.2);
    margin: 16px 0 16px 0;
    float: right;
  }