.signIn-box{
    cursor: pointer;
    color: white;
    font-size: 18px;
    flex: 1;
    display: inline-block;
    text-align: right;
    .line{
        width: 3px;
        height: 13px;
        display: inline-block;
        margin: 0 7px;
        background: white;
    }
}
